.input {
	border: 2px solid transparent;
	outline: none;
	overflow: hidden;
	background-color: #f3f3f3;
	transition: all 0.5s;
}

.input:hover,
.input:focus {
	border: 2px solid #4a9dec;
	box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
	background-color: white;
}
